html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

/* ------- typography ------- */

a, a:visited {
	color: black;
}

h1 {
	font-size: 1.3em;
	margin: 0 0 10px;
}

h3 {
	font-size: 1em;
	margin: 0 0 15px;
}

p, ul {
	font-size: 0.9em;
}

ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 30px; 
}

img {
	max-width: 100%;
}

/* ------- layout ------- */

.container {
	width: 97%;
	margin: 10px auto 0;
}

@media only screen and (max-width: 768px) {
	.container {
		width: 95%;
	}	
}

/* ------- header ------- */

header {
	/*border-bottom: 1px solid #d6d5d5;*/
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	background-color: white;
	top: 0;
	z-index: 2;
	box-shadow: 0px 1px 3px #9a9a9a;
}

#header {
	width: 35%;
}

header a {
	text-decoration: none;
}

@media only screen and (max-width: 768px) {
	#header {
		width: 80%;
	}
}

/* ------- menu ------- */

#menu {
	margin: 3px 0 0;
	width: 65%;
}

#menu ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

#menu a {
	text-decoration: none;
}

#menu ul li {
	width: 33%;
	text-align: right;
	cursor: pointer;
}

#mobile_menu_box, #mobile_menu_icon {
	display: none;
}

@media only screen and (max-width: 768px) {
	#menu {
		display: none;
	}

	#mobile_menu_icon {
		display: block;
	}
}


/* ------- mobile menu ------- */

#mobile_menu_icon {
	padding: 5px 10px;
	background: url(../img/mobile-menu.svg) center center no-repeat;
	background-size: 55%;
	width: 30px;
	height: 30px;
}


#mobile_menu_box {
	top: 45px;
	position: fixed;
	background-color: white;
	width: 100%;
	z-index: 1;
	box-shadow: 0px 1px 3px #bbbbbb;
}

#mobile_menu_box a {
	text-decoration: none;
	padding: 20px 10px;
	display: block;
}

/* ------- select box ------- */

#select_section {
	margin-top: 45px;
	height: 140px;
	border-bottom: 1px solid #d6d5d5;
}

.select_box {
	display: flex;
	justify-content: space-between;
}

#select_section .key {
	font-size: 0.8em;
	margin: 0;
}

#select_section .value {
	font-size: 1.1em;
	margin: 10px 0 0 0;
}

#select_section .select {
	font-family: 'Open Sans', sans-serif;
	left: -5px;
	border: none;
    position: relative;
    display: inline-block;
	width: 90%;
	border-bottom: 1px solid #808080;
}    

.selector {
	padding-top: 50px;
	width: 32%;
	border-right: 1px solid #d6d5d5;
	height: 90px;
}

.selector:last-child {
	border: none;
}

/* ------- column ------- */

.row {
	display: flex;
	justify-content: flex-start;
}

.column_2 {
	width: 50%;
	padding-right: 2%; 
}

.column_3 {
	width: 33%;
	padding-right: 2%; 
}

.column_4 {
	width: 25%;
	padding-right: 2%; 
}

/* ------- dataviz and legend ------- */


@media only screen and (max-width: 450px) {
	.legend {
		text-align: center; 
	}
}

.dataviz {
	overflow: hidden;
}

.dataset a {
	text-decoration: none;
}

.dataset img {
	margin: 0 10px;
}

@media only screen and (max-width: 768px) {
	.row {
		display: block;
	}

	.column_2, .column_3, .column_4 {
		width: 100%;
		padding-right: 0; 
	}
	
	.dataset {
		margin-top: 50px;
	}
}

.article {
	cursor: pointer;
}

/* ------- footer ------- */

footer {
	border-top: 1px solid #d6d5d5;
}

footer ul {
	list-style: none;
}

footer ul li {
	padding-bottom: 20px; 
}

#colophon {
	padding: 20px 0;
}

#sub_footer {
	border-top: 1px solid #d6d5d5; 
	padding: 10px 0 0px;
}

#sub_footer p {
	margin: 0 0 20px;
}

/*#sub_footer a {
	text-decoration: none;
}
*/
/* ------- dataviz n. 1 ------- */

#dv1 {
	height: 75vh;
	margin-bottom: 60px;
}

#dv1_legend {
	top: 18px;
	position: relative;
}

#yAxis .domain, #yAxis .tick line, #grid .domain {
	display: none;
}

#grid .tick line {
	stroke: #e9e4e4;
}

.tooltip {
	line-height: 1;
	padding: 6px;
	background-color: rgba(255, 255, 255, 1);
	color: black;
	border: 1px solid rgb(140,140,140);
	border-radius: 4px;
	font-size: 12px;
	max-width: 180px;
}

.tooltip table tr {
	height: 10px;
}

.tooltip table th {
	/*border-bottom: 1px solid rgb(140,140,140);*/
}

.tooltip table th {
	font-weight: normal;
	padding: 0 0px 8px 0;
	text-align: left;
	vertical-align: top;
}

.tooltip table th:nth-child(1) {
	min-width: 85px
}

.tooltip table th:nth-child(2) {
	min-width: 90px
}

/* ------- dataviz n. 2 ------- */

#dv2 {
	height: 75vh;
	margin-bottom: 60px;
}

#dv2_legend {
	top: 35px;
	position: relative;
}

@media only screen and (max-width: 768px) {
	#dv2_legend {
		top: 0;
	}
}

/*#yAxis_features .domain, #yAxis_issues .domain, #yAxis_features .tick line, #yAxis_issues .tick line, #grid .domain {*/
#axis_grid .domain, #axis .tick line {
	display: none;
}

#grids #grid_issues .tick line, #grids #grid_features .tick line {
	stroke: #e9e4e4;
}

/* ------- dataviz n. 3 ------- */


#dv3 {
	margin-bottom: 60px;
}
