body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Tahoma, Sans-serif;
    font-weight: 0.5em;
    background-color: #1625B8
}
#container {
    max-width: 900px;
    margin: 0 auto;
}
#water{
    position: absolute;
    bottom: 40px;
    width: 100%;
    max-width: 900px;
}
#save{
	width: 90%;
	height: 30px;
	border: 1px solid white;
	border-radius: 15px;
	color: white;
	background-color: transparent;
	margin: 20px 5% 0;
	cursor: pointer;
}
header{
	margin: 20px;
	color: white;
}
#title {
	font-size: 0.7em;
}