body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Tahoma, Sans-serif;
    font-weight: 0.5em;
    background-color: #1625B8;
}
#container {
    margin: 0 auto;
}
#water{
    position: fixed;
    bottom: 0;
    width: 100%;
}
#save{
	position: absolute;
	bottom: 30px;
	width: 90%;
	height: 30px;
	border: 1px solid rgba(255, 255, 255, 0.65);
	border-radius: 15px;
	color: white;
	margin: 20px 5% 0;
	cursor: pointer;
	background-color: #1625B8;
}
header{
	margin: 20px;
	color: white;
}
#title {
	font-size: 0.7em;
}
h2{
	margin: 30px 0 0px;
}
h3{
	margin: 0px;
}

h3 > a{
	font-size: 0.6em;
	color: white !important;
}

@media (min-width: 700px) {
  	#water {
    	max-width: 700px;
  	}
  	#container {
	    max-width: 700px;
	}	
}