html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open San', sans-serif;
}

/* ------- typography ------- */

a, a:visited {
	color: black;
}

h1 {
	font-size: 1.5em;
	margin: 0 0 20px;
}

ul {
	margin: 0;
	padding: 0;
}

table th {
	font-weight: normal;
	padding: 0 5px 0 0;
	text-align: left;
	vertical-align: top;
}

/* ------- layout ------- */

.container {
	width: 90%;
	margin: 20px auto 0;
}

header {
	border-bottom: 1px solid #d6d5d5;
}

#header {
	border-bottom: 1px solid #d6d5d5;
	width: 100%;
}

#menu {
	margin-bottom: 20px;
}

#menu ul {
	list-style: none;
	display: flex;
/*	padding: 20px auto;*/
}

#menu ul li {
	padding-right: 20px;
}

#dv_infobox {
	display: flex;
	justify-content: space-between;
}

#dv_infobox div {
	width: 45%;
}

.article {
	cursor: pointer;
}

footer {
	border-top: 1px solid #d6d5d5;
}

footer ul {
	list-style: none;
}

footer ul li {
	padding-bottom: 20px; 
}

/* ------- dataviz n. 1 ------- */

#dv1 {
	height: 75vh;
	margin-bottom: 60px;
}

#yAxis .domain, #yAxis .tick line, #grid .domain {
	display: none;
}

#grid .tick line {
	stroke: #e9e4e4;
}

.select_box {
	display: flex;
	justify-content: space-between;
}

.tooltip{
	line-height: 1;
	padding: 6px;
	background-color: rgba(255, 255, 255, 1);
	color: black;
	border: 1px solid rgb(140,140,140);
	border-radius: 4px;
	font-size: 12px;
}

/* ------- dataviz n. 2 ------- */

#dv2 {
	height: 75vh;
	margin-bottom: 60px;
}

#yAxis_features .domain, #yAxis_issues .domain, #yAxis_features .tick line, #yAxis_issues .tick line, #grid .domain {
	display: none;
}

/* ------- dataviz n. 3 ------- */


#dv3 {
	margin-bottom: 60px;
}
