html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open San', sans-serif;
	font-size: 0.8em;
}

a, a:visited {
	color: black;
}

.container {
	width: 90%;
	margin: 20px auto;
}

#dv1 {
	height: 80vh;
}

svg {
	/*overflow: visible;*/
}

.article {
	cursor: pointer;
}

#yAxis .domain, #yAxis .tick line, #grid .domain {
	display: none;
}

#grid .tick line {
	stroke: #e9e4e4;
}

#select_box {
	display: flex;
	justify-content: space-between;
}

.tooltip{
	line-height: 1;
	padding: 6px;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	border: 1px solid black;
	border-radius: 4px;
	font-size: 12px;
}
