html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open San', sans-serif;
}

/* ------- typography ------- */

a, a:visited {
	color: black;
}

h1 {
	font-size: 1em;
	font-size: 1.3em;
	margin: 0 0 10px;
}

ul {
	margin: 0;
	padding: 0;
}

table th {
	font-weight: normal;
	padding: 0 5px 0 0;
	text-align: left;
	vertical-align: top;
}

/* ------- layout ------- */

.container {
	width: 97%;
	margin: 10px auto 0;
}

/* ------- header ------- */

header {
	/*border-bottom: 1px solid #d6d5d5;*/
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	background-color: white;
	top: 0;
	z-index: 2;
	box-shadow: 0px 1px 3px #9a9a9a;
}

#header {
	width: 35%;
}

@media only screen and (max-width: 768px) {
	#header {
		width: 80%;
	}
}

/* ------- menu ------- */

#menu {
	margin: 3px 0 0;
	width: 65%;
}

#menu ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

#menu a {
	text-decoration: none;
}

#menu ul li {
	padding-right: 20px;
	width: 33%;
	text-align: right;
}

#mobile_menu_box, #mobile_menu_icon {
	display: none;
}

@media only screen and (max-width: 768px) {
	#menu {
		display: none;
	}

	#mobile_menu_icon {
		display: block;
	}
}


/* ------- mobile menu ------- */

#mobile_menu_icon {
	padding: 5px 10px;
	background: url(../img/mobile-menu.svg) center center no-repeat;
	background-size: 55%;
	width: 30px;
	height: 30px;
}


#mobile_menu_box {
	top: 45px;
	position: fixed;
	background-color: white;
	width: 100%;
	z-index: 1;
	box-shadow: 0px 1px 3px #bbbbbb;
}

#mobile_menu_box a {
	text-decoration: none;
}

#mobile_menu_box li {
	padding: 20px 10px;
	/*border-bottom: 1px solid #d6d5d5;*/
}


/* ------- select box ------- */

#select_section {
	margin-top: 45px;
	height: 140px;
	border-bottom: 1px solid #d6d5d5;
}

.select_box {
	display: flex;
	justify-content: space-between;
}

#select_section .key {
	font-size: 0.8em;
	margin: 0;
}

#select_section .value {
	font-size: 1.1em;
	margin: 10px 0 0 0;
}

#select_section .select {
	left: -5px;
	border: none;
    position: relative;
    display: inline-block;
	width: 90%;
	border-bottom: 1px solid #808080;
}    

.selector {
	padding-top: 50px;
	width: 32%;
	border-right: 1px solid #d6d5d5;
	height: 90px;
}

.selector:last-child {
	border: none;
}

/* ------- dataviz and legend------- */

#legend {
	font-size: 0.9em;
}

#legend h3 {
	font-size: 0.9em;
	margin: 0 auto 0;
}

#legend p {
	margin: 0;
}

#dv_infobox {
	display: flex;
	justify-content: space-between;
}

#dv_infobox div {
	width: 45%;
}

.article {
	cursor: pointer;
}

footer {
	border-top: 1px solid #d6d5d5;
}

footer h3, footer ul {
	font-size: 0.9em;
	margin: 0 auto 0;
}

footer ul {
	list-style: none;
}

footer ul li {
	padding-bottom: 20px; 
}

/* ------- dataviz n. 1 ------- */

#dv1 {
	height: 75vh;
	margin-bottom: 60px;
}

#dv1_legend {
	top: -35px;
	position: relative;
}

#yAxis .domain, #yAxis .tick line, #grid .domain {
	display: none;
}

#grid .tick line {
	stroke: #e9e4e4;
}

.tooltip {
	line-height: 1;
	padding: 6px;
	background-color: rgba(255, 255, 255, 1);
	color: black;
	border: 1px solid rgb(140,140,140);
	border-radius: 4px;
	font-size: 12px;
	max-width: 150px;
}

.tooltip table tr {
	height: 15px;
}

/* ------- dataviz n. 2 ------- */

#dv2 {
	height: 75vh;
	margin-bottom: 60px;
}

/*#yAxis_features .domain, #yAxis_issues .domain, #yAxis_features .tick line, #yAxis_issues .tick line, #grid .domain {*/
#axis_grid .domain, #axis .tick line {
	display: none;
}

#grids #grid_issues .tick line, #grids #grid_features .tick line {
	stroke: #e9e4e4;
}

/* ------- dataviz n. 3 ------- */


#dv3 {
	margin-bottom: 60px;
}
