html, body {
	margin: 0;
	padding: 0;
	font-family: 'Courier', sans-serif;
	font-size: 0.8em;
}

a, a:visited {
	color: black;
}

.container {
	width: 90%;
	margin: 20px auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#articles, #subjects {
	margin-bottom: 30px; 
}

table {
	margin: 0;
	padding: 0;
	text-align: left;
	border-spacing: 20px 0;
}

svg {
	overflow: visible;
}

th {
	font-weight: normal;
	padding: 10px 0 10px; 
}

tr {
	border-bottom: 1px solid #ccc;
}

.number {
	text-align: right;
}

.year {
	/*column-width: 100px;*/
	width: 80px;
}

tr:hover, tr:hover a {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

#dv1 {
	width: 100%;
	/*overflow: scroll; */
}

#filter {
	display: flex;
}

#filter li {
	margin: 0 40px 0 0;
	cursor: pointer;
}

.underline {
	text-decoration: underline;
}

.dataset {
	column-count: 4;
	font-size: 0.7em;
	margin-top: 200px; 
}

.dataviz {
	font-family: 'Open Sans';
}

nav li {
	display: inline;
	padding-right: 20px; 
}