/* ------- settings ------- */

$smartphone: 400px
$tablet-v: 768px
$tablet-h: 900px

$light_gray: #d6d5d5

/* ------- typography ------- */

html, body 
	margin: 0
	padding: 0
	font-family: 'Open Sans', Arial, sans-serif

a, a:visited 
	color: black

h1 
	font-size: 1.1em
	margin: 0 0 10px

	@media only screen and (max-width: $tablet-v)
		font-size: 0.8em

	@media only screen and (max-width: $smartphone)
		font-size: 0.7em
		margin-top: 5px

h3 
	font-size: 1em
	margin: 0 0 15px

p, ul 
	font-size: 0.9em

ul 
	margin: 0
	padding: 0

p 
	margin: 0 0 30px 

img 
	max-width: 100%

.noselect
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none


/* ------- layout ------- */

.container 
	width: 97%
	margin: 10px auto 0


	@media only screen and (max-width: $tablet-v)
		width: 95%
		
main
	margin-top: 40px


/* ------- header ------- */

header 
	display: flex
	justify-content: space-between
	position: fixed
	width: 100%
	background-color: white
	top: 0
	z-index: 100000
	box-shadow: 0px 1px 3px #9a9a9a

#header
	width: 70%

	@media only screen and (max-width: $tablet-v) 
		width: 90%

header a 
	text-decoration: none
	

/* ------- menu ------- */

#menu 
	margin: 3px 10px 0 0
	width: 30%

#menu ul 
	list-style: none
	display: flex
	justify-content: space-between

#menu a 
	text-decoration: none

#menu ul li 
	text-align: right
	cursor: pointer

#mobile_menu_box, #mobile_menu_icon 
	display: none

@media only screen and (max-width: $tablet-v) 
	#menu 
		display: none
	
	#mobile_menu_icon 
		display: block

/* ------- mobile menu ------- */

#mobile_menu_icon 
	padding: 5px 10px
	background: url(../img/mobile-menu.svg) center center no-repeat
	background-size: 55%
	width: 30px
	height: 30px

#mobile_menu_box 
	top: 40px
	position: fixed
	background-color: white
	width: 100%
	z-index: 9999
	box-shadow: 0px 1px 3px #bbbbbb

#mobile_menu_box a 
	text-decoration: none
	padding: 20px 10px
	display: block

/* ------- select box ------- */

#select_section_1, #select_section_2
	margin-top: 40px
	border-bottom: 1px solid $light_gray

	.select_box 
		display: flex
		height: 140px
		justify-content: space-between
		margin-top: 0

		@media only screen and (max-width: $smartphone) 
			display: none

		.selector 
			padding-top: 50px
			border-right: 1px solid $light_gray
			height: 90px

			.key 
				font-size: 0.8em
				margin: 0

			.value 
				font-size: 1.1em
				margin: 10px 0 0 0

			.select 
				font-family: 'Open Sans', sans-serif
				left: -5px
				border: none
				position: relative
				display: inline-block
				width: 90%
				border-bottom: 1px solid #808080

		.selector:last-child 
			border: none


#select_section_1
	.select_box 
		.selector
			width: 18%

#select_section_2
	.select_box 
		.selector
			width: 24%

#filter_button
	display: none
	border-bottom: 1px solid $light_gray
	padding: 5px 0 10px

	@media only screen and (max-width: $smartphone) 
		display: block

/* ------- dataviz and legend ------- */


@media only screen and (max-width: $smartphone) 
	.legend 
		text-align: center 

.dataviz 
	overflow: hidden


.dataset a 
	text-decoration: none


.dataset img 
	margin: 0 10px

	.row 
		@media only screen and (max-width: $tablet-v) 
			display: block
	

	.column_2, .column_3, .column_4 
		width: 100%
		padding-right: 0 
	
	
	.dataset 
		margin-top: 50px

.article 
	cursor: pointer


/* ------- dataviz n. 1 ------- */

#dv1
	margin-bottom: 60px

#map1
	height: 65vh

/* ------- dataviz n. 1 ------- */

#dv2
	margin-bottom: 60px
	height: 65vh


/* ------- footer ------- */

footer 
	border-top: 1px solid $light_gray

footer ul 
	list-style: none

footer ul li 
	padding-bottom: 20px 

#colophon 
	padding: 20px 0

#sub_footer 
	border-top: 1px solid $light_gray 
	padding: 10px 0 0px

#sub_footer p 
	margin: 0 0 20px