@import "../../bower_components/neat/app/assets/stylesheets/_neat.scss"

$font_l: 2em
$font_m: 1em
$font_s: 0.8em

body
	font-family: Helvetica, Arial, Sans-serif

.container
	+outer-container(80%)

h1
	font-size: $font_l

h2
	font-size: $font_m

.note
	font-size: $font_s