body {
	margin: 0;
	padding: 0;
	font-family:  Arial, sans-serif;
}

/* - - - - header - - - -*/

header {
	height: 40px;
	background-color:  #62636D;
	color:  white;
	line-height: 40px;
	padding:  0 1rem;
	display:  flex;
	justify-content: space-between;
	z-index: 1;
}

header a {
	color:  white;
	text-decoration: none;
}

/* - - - - sidebar - - - -*/

#info_bar {
	background-color: #fff;
	width: 100%;
	height: 200px;
	position: absolute;
	bottom:  0;
	padding: 1rem;
	display: none;
	transition: 1s;
}


/* - - - - map - - - -*/

#my_map {
	width:  100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left:  0;
	z-index: -1;
	overflow: hidden;
}

#my_map .help {
	color:  gray;
	position:  relative;
	margin-top:  1rem;
} 

#filter_box {
	height: 40px;
	background-color: #ededed;
	line-height: 40px;
	padding:  0 1rem;
	z-index: 0;
	-webkit-box-shadow: #b7b7b7 0 10px 0px, 0px 7px 15px -2px rgba(142,138,140,0.15); 
	box-shadow: #b7b7b7 0 6px 10px, 0px 7px 15px -2px rgba(142,138,140,0.15);
}

#filter {
	background-color: transparent;
	width:  100%;
	height:  40px;
	border-color:  transparent;
}

.leaflet-tooltip-pane div {
	font-family:  Arial, sans-serif;
    display: flex;
    word-wrap: break-word;
}
