body {
	margin: 0;
	padding: 0;
	font-family:  Arial, sans-serif;
}

/* - - - - header - - - -*/

header {
	height: 40px;
	background-color:  #62636D;
	color:  white;
	line-height: 40px;
	padding:  0 1rem 0 0;
	display:  flex;
	justify-content: space-between;
	z-index: 1;
	position: fixed;
	width: calc(100% - 1rem);
}

header a {
	color:  white;
	text-decoration: none;
}

#logo_line {
	display: flex;
}

#logo {
	padding-left: 1rem;	
	background-color: white;
	width: 100px;
	padding: 5px 0.5rem 0 1rem;
}

#title_line {
	padding: 0 0.5rem;
}

#logo:nth-child(2){
	background-color: #62636d;
}

#logo img {
	width: 100px;
	height: auto;
}

/* - - - - filter - - - -*/

#filter_box {
	position: fixed;
	display: flex;
	justify-content: space-between;
	top:  40px;
	height: 40px;
	width: calc(100% - 1.5rem);
	background-color: #ededed;
	line-height: 40px;
	padding:  0 1rem 0 1rem;
	z-index: 0;
	border-bottom: 1px solid #cdc9c9;
}

#filter_box div {
	width: 100%;
}

#filter_box div:nth-child(1){
	border-right:  1px solid #cdc9c9;
}

#filter_box div:nth-child(1) select{
	width: 95%;
}

#filter_box div:nth-child(2) select{
	width: 95%;
	float: right;
}

.filter {
	height:  40px;
	border-color:  transparent;
	width:  90%;
	background-color: transparent;
}

/* - - - - info-bar - - - -*/

#info_bar {
	background-color: #fff;
	border-top: 1px solid #cdc9c9;
	width: 100%;
	height: 200px;
	position: absolute;
	bottom:  0!important;
	display: none;
	grid-row-gap:  1rem;
}

#info_bar a, #info_bar a:visited {
	color:  black;
}

.b_name {
	font-weight: bold;
	border-bottom:1px solid #cdc9c9;
	padding: 0.6rem 1rem;
}

.b_name p:first-child {
	margin-bottom: 0px;
}

.cat_sub {
	font-size: 0.7em;
	font-weight: normal;
	margin: 0.5rem 0;
}

.b_text {
	width: 60%;
	padding: 0.8rem 1rem;
}

.b_text p {
	margin:  0 0 1rem;
}

.not_selected {
		color:  gray;
}


@media only screen and (max-width: 750px) {
  #info {
    width: auto;
  }
}


/* - - - - map - - - -*/

#my_map {
	width:  100%;
	height: calc(100vh - 80px);
	position: absolute;
	top: 80px;
	z-index: -1;
	overflow: hidden;
}

#my_map .help {
	color:  gray;
	position:  relative;
	margin-top:  1rem;
} 

.tooltip {
	font-weight: bold;
}

.leaflet-tooltip-pane div {
	font-family:  Arial, sans-serif;
    display: flex;
    word-wrap: break-word;
}

.rinascimento, .neorinascimentale {
	display: none;
}

.popup_close {
	display: none;
}

.invisible{
	display: none;
}

