body {
	margin: 0;
	padding: 0;
	font-family:  Arial, sans-serif;
}

/* - - - - header - - - -*/

header {
	height: 40px;
	background-color:  #62636D;
	color:  white;
	line-height: 40px;
	padding:  0 1rem 0 0;
	display:  flex;
	justify-content: space-between;
	z-index: 1;
	position: fixed;
	width: calc(100% - 1rem);
}

header a {
	color:  white;
	text-decoration: none;
}

#logo_line {
	display: flex;
}

#logo {
	padding-left: 1rem;	
	background-color: white;
	width: 100px;
	padding: 5px 0.5rem 0 1rem;
}

#title_line {
	padding: 0 0.5rem;
}

#logo:nth-child(2){
	background-color: #62636d;
}

#logo img {
	width: 100px;
	height: auto;
}

/* - - - - filter - - - -*/

#filter_box {
	position: fixed;
	top:  40px;
	height: 40px;
	width: calc(100% - 1.5rem);
	background-color: #ededed;
	line-height: 40px;
	padding:  0 1rem 0 1rem;
	z-index: 0;
	border-bottom: 1px solid #cdc9c9;
}

#filter {
	background-color: transparent;
	width:  100%;
	height:  40px;
	border-color:  transparent;
}


/* - - - - info-bar - - - -*/

#info_bar {
	background-color: #fff;
	border-top: #cdc9c9;
	width: 100%;
	height: 200px;
	position: absolute;
	bottom:  0;
	display: none;
	transition: 1s;
	grid-row-gap:  1rem;
}

#info_bar a, #info_bar a:visited {
	color:  black;
}

.b_name {
	font-weight: bold;
}

#info {
	padding: 1rem;
	width: 60%;
}

@media only screen and (max-width: 750px) {
  #info {
    width: auto;
  }
}


/* - - - - map - - - -*/

#my_map {
	width:  100%;
	height: calc(100vh - 80px);
	position: absolute;
	top: 80px;
	z-index: -1;
	overflow: hidden;
}

#my_map .help {
	color:  gray;
	position:  relative;
	margin-top:  1rem;
} 

.leaflet-tooltip-pane div {
	font-family:  Arial, sans-serif;
    display: flex;
    word-wrap: break-word;
}

.neorinascimentali {
	display: none;
}

.popup_close {
	display: none;
}

