<!DOCTYPE html>
<html>
	<head>
		<title>Web</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/style.css"/>
	</head>
	<body ng-app="web">
		<div class="container">
			<header class="page_header">
			  	<h1>
			  		<a ui-sref="home" ng-click="toggle()">Web</a>
			  	</h1>
			  	<a ui-sref="notes" ng-click="toggle()">Notes</a>
			  	&#183;
			  	<a ui-sref="tools" ng-click="toggle()">Tools</a>
			</header>
			<section>
				<div id="main" ui-view="main"></div>
			</section>
	    </div>
		<footer class="container">
    		<a href="https://github.com/giovannipro" target="_blank">github.com/giovannipro</a></li>
		</footer>
    	
    	<!--<script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>-->
    	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

    	<script src="app/app.js"></script>
		<script src="app/routes.js"></script>
		<script src="scripts/functions.js"></script>
		<script src="app/controllers/main.ctr.js"></script>
		<script src="app/controllers/notes.ctr.js"></script>
		<script src="app/controllers/tools.ctr.js"></script>

	</body>
</html>